.App {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.loading {
  text-align: center;
  padding: 4rem 0;
}

.error {
  color: #f00;
  text-align: center;
  padding: 4rem 0;
}
